{% extends "base.html" %} {% block page_title %}Recipe Detail{% endblock %} {% block content %}
<h1>{{recipe.name}}</h1>
<p>
    <strong>Author:</strong>
    {{recipe.author.name}}
</p>
<p>
    <p><strong>Created on: </strong>{{recipe.created_on}}</p>
    <p><strong>Updated on: </strong>{{recipe.updated_on}}</p>
</p>
<h2>Ingredients</h2>
<ul>
    {% for item in recipe.ingredients.all %}
    <li>{{item.ingredient.name}}: {{item.quantity}}</li>
    {% endfor %}
</ul>
<h2>Images</h2>
{% for img in recipe.images.all %}
<img src="{{ img.image.url }}" alt="{{ img.description }}" width="500"/>
<p>{{ img.description }}</p>
{% endfor %}
<p>
    <a href="{% url 'recipe_add_image' recipe.pk %}">Upload Image</a>
</p>
<p>
    <a href="{% url 'recipe_list' %}">Back to Recipe List</a>
</p>
{% endblock %}
